{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ article.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}
{% endblock %}

{% block content %}
  <article>
    <header>
      <h2 class="header-no-padding">{{ article.title }}</h2>
    </header>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}

    {{ article.content }}

    {% if article.photo_gallery %}
      {% for gallery in article.photo_gallery %}
        <div class="photo-gallery">
            <h3 class="header-no-padding">{{ gallery.0 }}</h3>
            <div class="gallery-images">
                {% for title, full_path, thumb_path, exif, caption in gallery.1 %}
                    <a href="{{ SITEURL }}/{{ full_path }}" 
                      data-lightbox="gallery-{{ gallery.0 | slugify }}" 
                      data-title="{{ caption or title }}">
                        <img src="{{ SITEURL }}/{{ thumb_path }}" alt="{{ caption or title }}">
                    </a>
                {% endfor %}
            </div>
        </div>
      {% endfor %}
    {% endif %}

    {% if article.modified %}
      <footer>
        <p>Last updated: <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time></p>
      </footer>
    {% endif %}
  </article>
{% endblock %}
