{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ page.title|striptags }}{%endblock%}

{% block page_header %}
  {% from "page_header.html" import render_header %}
  {{ render_header(page) }}
{% endblock page_header %}

{% block main_content_area %}
    <div class="contact-section-one">
        <div class="main-content-row contact-columns">
            <div class="contact-column-left">
                <h2 class="header-no-padding">Follow / More Content</h2>
                <div class="social-icons-container">
                    <a href="https://www.youtube.com/@irondalebrewing" target="_blank" rel="noopener"><img src="{{ SITEURL }}/theme/images/youtube-icon-32x32.png" class="social-icon" alt="YouTube"></a>
                    <a href="https://www.facebook.com/irondalebrewing" target="_blank" rel="noopener"><img src="{{ SITEURL }}/theme/images/fb-icon-32x32.png" class="social-icon" alt="Facebook"></a>
                    <a href="https://www.instagram.com/irondalebrewing/" target="_blank" rel="noopener"><img src="{{ SITEURL }}/theme/images/ig-icon-32x32.png" class="social-icon" alt="Instagram"></a>
                </div>
                <h2 class="header-no-padding">Email</h2>
                <p><a href="mailto:info@irondalebrewing.com">info@irondalebrewing.com</a></p>
            </div>
            <div class="contact-column-right">
                <h2 class="header-no-padding">Say Hi!</h2>
                <p>Questions about homebrewing? Topics you want us to cover? Recipes you want to share? Suggestions for 
                    us to try? Don't be shy, we'd love to hear from you!</p>
            </div>
        </div>
    </div>
    
    <div class="contact-section-two">
        <div class="main-content-row">
            <figure>
                <img src="/images/2023/11/jchs_ph2005-70-33.jpg" alt="Historic photo of the Hadlock House bar">
                <figcaption>"Hadlock House Bar;" #2005.70.33 from the Collection of the <a href="https://jchsmuseum.org/" target="_blank" rel="noopener">Jefferson County Historical Society</a></figcaption>
            </figure>
            <figure style="margin-top: 40px;">
                <img src="/images/2023/11/Western_Steel_Mill_Irondale_Washington_1910_MOHAI_7327.jpg" alt="Historic photo of Western Steel Mill ca. 1910">
                <figcaption>Western Steel Mill, Irondale, Washington, ca. 1910.  I like to think that somewhere in that mess of fire and smoke, someone had a batch of beer going.</figcaption>
            </figure>
        </div>
    </div>

    <div style="display: none;" data-pagefind-body data-pagefind-meta="title:{{ page.title|striptags}}">
        {{ page.content|safe }}
    </div>
{% endblock main_content_area %}