{% extends "base.html" %}

{% block page_header %}
    {% from "page_header.html" import render_header %}
    {{ render_header() }}
{% endblock page_header %}

{% block content %}
    {% block content_title %}
    {% endblock content_title %}

    {% for article in articles_page.object_list %}
        <article class="article-summary-container">
            <section>
                <a href="{{ SITEURL }}/{{ article.url }}" class="featured-image-url" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                    <div class="featured-image-container">
                        <img src="{{ article.featuredimage }}" />
                    </div>
                </a>
            </section>
            <header>
                <h2 class="article-title header-no-padding">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
                <div class="article-subtitle">
                    <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%b %d, %Y') }}</time>
                    {% if article.category %}
                    | {% for cat in article.categories %}
                        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </header>
            <section>
                {{ article.summary }}
            </section>
        </article>
    {% endfor %}

    {% if articles_page.has_other_pages() %}
        {% include "pagination.html" %}
    {% endif %}
{% endblock content %}
