{% macro render_header(content_object=None) %}
    {% set opacity = content_object.pageheaderimageopacity if content_object and content_object.pageheaderimageopacity else '0.3' %}
    {% set background_color = 'rgba(0, 0, 0, ' ~ opacity ~ ')' %}

    {% if content_object and content_object.pageheaderimage %}
    <div class="page-header-section" style="background-image: linear-gradient({{ background_color }}, {{ background_color }}), url('{{ SITEURL }}{{ content_object.pageheaderimage }}');">
    {% else %}
    <div class="page-header-section" style="background-image: linear-gradient({{ background_color }}, {{ background_color }}), url('{{ SITEURL }}/theme/images/hero_inner_beer_01-1.jpg');">
    {% endif %}
        <div class="page-header-wrapper">
            <div class="page-header-content">
                {% if content_object and content_object.pagequote %}
                    <h4 class="header-no-padding">{{ content_object.pagequote }}</h4>
                {% elif not content_object %}
                    <h4 class="header-no-padding">"They who drink beer will think beer." - Washington Irving</h4>
                {% endif %}
    
                {% if content_object and content_object.pagetitle %}
                    <h1 class="header-no-padding">{{ content_object.pagetitle }}</h1>
                {% elif content_object %}
                    <h1 class="header-no-padding">{{ content_object.title }}</h1>
                {% else %}
                    <h1 class="header-no-padding">Irondale Brewing</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
