name: Deploy Pelican Site to Firebase

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Pelican and Dependencies
        run: |
          # Upgrade pip and install packages in requirements.txt
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install libssl1.1 Dependency
        run: |
          DEB_URL="http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2.20_amd64.deb"
          DEB_FILE="libssl1.1.deb"
          curl -LO ${DEB_URL}
          sudo dpkg -i ${DEB_FILE}
          sudo apt-get install -f -y
          rm -f ${DEB_FILE}
    
      - name: Install Stork Binary for Search
        run: |
          # Download and install the latest Stork binary for Linux
          STORK_VERSION="1.6.0"
          DOWNLOAD_FILE="stork-ubuntu-20-04"
          STORK_URL="https://files.stork-search.net/releases/v${STORK_VERSION}/${DOWNLOAD_FILE}"

          curl -LO ${STORK_URL}
          chmod +x ${DOWNLOAD_FILE}
          sudo mv ${DOWNLOAD_FILE} /usr/local/bin/stork

          # Verify installation
          stork --version

      - name: Generate Pelican Site (Build)
        run: pelican content -s publishconf.py

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_IRONDALE_BREWING_WEBSITE }}'
          channelId: live
          projectId: irondale-brewing-website