name: Deploy Pelican Site to Firebase

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Pelican and Dependencies
        run: |
          # Upgrade pip and install packages in requirements.txt
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate Pelican Site (Build)
        run: pelican content -s publishconf.py

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_IRONDALE_BREWING_WEBSITE }}'
          channelId: live
          projectId: irondale-brewing-website